doctype html
html
  head
    title= title
    meta(name="description" content= description)
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    style.
      body {
        font-family: 'Open Sans', sans-serif;
        overflow-y: hidden;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;
      }

      .header {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 20px;
      }

      .gradient {
        background-color: #aadcf0;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjYzVlM2VmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNGUzZWYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
        background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(197, 227, 239)),color-stop(1, rgb(196, 227, 239)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(right,rgb(197, 227, 239) 0%,rgb(142, 212, 241) 101%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to left,rgb(197, 227, 239) 0%,rgb(142, 212, 241) 101%);
        background-image: -ms-repeating-linear-gradient(right,rgb(197, 227, 239) 0%,rgb(142, 212, 241) 101%);
      }

      /* IE8- CSS hack */
      @media \0screen\,screen\9 {
        .gradient {
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8ed4f1",endColorstr="#ffc5e3ef",GradientType=1);
        }
      }

      .header .logo {
        float: left;
        color: white;
      }

      .header .links {
        text-align: right;
      }

      .header .links .link a {
        color: white
      }

      .course {
        border-bottom: 1px solid #999;
        padding-bottom: 20px;
      }

      .container-fluid {
        padding-top: 60px;
      }

      .start {
        font-size: 20px;
      }

      .start span {
        margin-right: 10px;
      }

  body
    .header.gradient
      .logo WebDevPro
      .links
        .link
          a(href="/courses") Courses

    .container-fluid
      .row
        .col-md-6
          each course in courses
            .course
              h1= course.title || 'undefined'
              .description= course.description
              .start
                a(href= course.link)
                  span Begin Course
                  i.fa.fa-caret-right

        .col-md-6
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91995831-1', 'auto');
      ga('send', 'pageview');
