#pp
  .container
    .row
      .col-md-12
        a.logo(
          ui-sref="main"
        ) WebDevPro
        
        h1 Privacy Policy

        h2 Your privacy is important to us.

        p It is Seibert Software Solutions, LLC's policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.
        
        ul
          li We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
          li Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
          li We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.
          li Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
          li We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
          li We will make readily available to customers information about our policies and practices relating to the management of personal information.
          li We will only retain personal information for as long as necessary for the fulfilment of those purposes.
          li We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. Seibert Software Solutions, LLC may change this privacy policy from time to time at Seibert Software Solutions, LLC's sole discretion.
